body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("assets/backgroundImage.png");
  background-size: 100%;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 33% 33% 33%; 
  align-items: center;
  height: 10vh;
}


.gameButtons {
  justify-self: end;
}

.align-right {
  align-items: right;
}

.startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.playerInputCards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerInputCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10%;
}

.playerCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.289), rgba(255, 255, 255, 0.574));
  border-radius: 14px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  padding: 0.5%;
  max-width: 220px;
}

.playerCardContainer {
  display: flex;
  flex-direction: column;
}

.playerImage {
  height: 200px;
  width: auto;
  margin: 30px;
}

.turnBox {
  display: flex;
  background-color: rgb(3, 176, 3);
  color: white;
  border-radius: 14px;
  border-style: none;
  justify-content: center;
  align-items: center;
  padding: 0.5%;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  margin-top: 3%;
  height: 25px;
}

.inactivePlayer {
  display: none;
}

input{
  font-family: "Poppins", sans-serif;
  align-items: center;
  background-color: #ffffff;
  border-radius: 14px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  margin: 5px;
}

.mainGame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  height: 90%;
  width: 60%;
  margin: 3%;
  border-radius: 14px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.card {
  height: 15%;
  width: 7.5%;
  background-color: white;
  margin: 0.75%;

  border-radius: 4px;
  border-style: none;
}

/* Text And Headers */
h1 {
  text-align: center;
  font-size: 40px;
}

.bold{
  font-weight: 500;
}

.large-text {
  font-size: large;
}
/* Text And Headers */

/* Buttons */
button {
  font-family: "Poppins", sans-serif;
  align-items: center;
  background-color: #ffffff;
  border-radius: 14px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;
  margin: 5px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 0.66) 0 3px 5px -1px,rgba(255, 255, 255, 0.54) 0 6px 10px 0,rgba(252, 252, 252, 0.562) 0 1px 18px 0;
}

.exit {
  color: white;
  background-color: red;
}

.start {
  color: White;
  background-color: green;
  font-size: 24px;
  padding: 5px 50px;
}
